@media(max-width: 1200px) {
    .deliveryCost {
        padding-left: 10px;
    }
}


@media(max-width: 1000px) {
    .restaurantLogo {
        height: 100px;
    }


    .restaurantName {
        font-size: 18px;
    }


    .ratingStar {
        height: 15px;
    }


    .starGroup {
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .infoSection {
        height: 25px;
    }
}


@media(max-width: 800px) {
    .media {
        font-size: 16px;
    }


    .restaurantName {
        font-size: 14px;
    }


    .ratingStar {
        height: 10px;
    }


    .ratingText {
        font-size: 14px;
    }


    .menuSelection {
        align-items: center;
        justify-content: space-evenly;
    }


    .selectionLink {
        font-size: 12px;
    }


    .dishName {
        font-size: 16px;
    }


    .dishDescription {
        font-size: 14px;
    }

    .dishPrice {
        font-size: 16px;
    }


    .headlineBasket {
        font-size: 16px;
    }


    .basketContent {
        font-size: 14px;
    }


    .totalSumArea {
        font-size: 14px;
    }


    .deliveryCost {
        font-size: 12px;
    }
}


@media(max-width: 700px) {
    header img {
        height: 60px;
    }


    .headerMenu {
        font-size: 18px;
    }


    .restaurantLogo {
        height: 70px;
    }

    .menuSelection {
        display: none;
    }


    .dishName {
        font-size: 14px;
    }


    .dishDescription {
        font-size: 12px;
    }

    .dishPrice {
        font-size: 14px;
    }



    .basketContent {
        display: flex;
        flex-direction: column;
    }


    .mediaqueryItem {
        margin-bottom: 0;
        word-break: break-word;
    }


    .garbageImage {
        width: 15px;
        height: 15px;
    }


    .amountCounter {
        font-size: 12px;
    }

}


@media(max-width: 650px) {
    .restaurantLogo {
        display: none;
    }
}


@media(max-width: 610px) {
    .totalSumArea {
        font-size: 12px;
    }
}


@media(max-width: 560px) {
    .headerMenu {
        display: none;
    }


    .content {
        display: initial;
    }


    .left {
        width: 100%;
    }


    .addImage {
        height: 20px;
    }


    .shoppingCart {
        width: 100%;
        top: 0;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }


    footer {
        height: auto;
    }


    @media(max-width: 400px) {
        .headerRight {
            display: none;
        }
    }
}