body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato';
}


header {
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}


header img {
    height: 75px;
    width: auto;
    padding-right: 15px;
}


.headerLeft {
    display: flex;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}


.headerMenu {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.headerRight {
    display: flex;
    align-items: center;
    padding: 10px;
}


.headerRight img {
    height: 40px;
    width: auto;
    cursor: pointer;
}


.content {
    display: flex;
}


.left {
    width: 70%;
    background-color: rgb(252, 252, 252);
}

.foodImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}


.restaurantLogo {
    width: auto;
    height: 180px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}


.restaurantDescription {
    display: flex;
    justify-content: space-between;
}


.leftRating {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.restaurantName {
    font-size: 20px;
}


.starGroup {
    margin-top: 5px;
    display: flex;
    cursor: pointer;
}


.ratingStar {
    width: 20px;
    height: auto;
    cursor: pointer;
}


.ratingText {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}


.rightRating {
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.infoSection {
    height: 30px;
    width: auto;
    border: 1px solid darkgrey;
    cursor: pointer;
}


.menuSelection{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    background-color: rgba(255, 166, 0, 0.315);
    padding: 30px;
}

.selectionImage{
    height: 30px;
    width: auto;
    cursor: pointer;
}


.foodSection{
margin: 30px;
font-size: 20px;
font-weight: 700;
}


.card{
    margin-bottom: 10px;
}


.popularDish{
    background-color: rgba(255, 166, 0, 0.315);
}

.shoppingCart {
    width: 30%;
    height: 100vh;
    position: sticky;
    top: 0;
}


.headlineBasket {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: darkgrey;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}


footer {
    height: 150px;
    background: rgb(240, 238, 235);
}